---
- hosts: localhost
  connection: local
  collections:
    - infoblox.b1ddi_modules

  vars:
  - host: "{{ Host server to connect to }}"
  - api: "{{ api key to access the server }}"

  tasks:
    #  Gather optiongroup
    - name: Gather Option Group
      b1_ipam_option_group_gather:
        host: "{{ host }}"
        api_key: "{{ api }}"
        state: gather
      register: option_groups
    - debug: msg="{{ option_groups }}"